{
  "sourceMap": true,
  "instument": true,
  "reporter": ["text-summary", "lcov", "json"],
  "temp-directory": "./coverage/.nyc_output",
  "extension": ["ts"],
  "exclude": ["dist/math/", "test/"]
}
